table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: 25px auto;
  width: 99vw;
  text-align: center;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 10px;
}

table tr:nth-child(even) {
  background-color: #2eceff;
}

table tr:hover {
  background-color: #6fffb0;
  color: black;
}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ff3232;
  color: white;
}
